* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


body {
    width: 100%;
    background-image: url("image/main-back.jpg");
    font-family: 'Playfair Display';
    font-size: 22px;
}

.container {
    margin: 0 121px;
    width: 1200px;
}

.top_nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.top_nav ul {
    display: flex;
}

.top_nav ul li {
    list-style-type: none;
}

.top_nav ul li a {
    display: block;
    padding: 20px 10px;
    color: black;
    text-decoration: none;
}

.main {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.pizza-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    width: 900px;
}

.pizza-list article {
    width: 276px;
    position: relative;
    box-sizing: border-box;
}

.pizza-list article section {
    position: relative;
    display: flex;
    justify-content: center;
}


.pizza-list article section>div {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';

}

.pizza-list article section>div>* {
    margin-top: 16px;
}

.pizza-type-selection {
    border-top: 1px #DFDFDF solid;
    border-bottom: 1px #DFDFDF solid;
    padding: 16px 0;

}

.pizza-type-selection button {
    width: 116px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}


.pizza-type-selection button:nth-child(1) {
    background-color: black;
    color: white;

}

.pizza-type-selection button:nth-child(2) {
    background-color: white;
    color: black;
    border: 1px #DFDFDF solid;
}


.pizza-list article section header {
    font-family: 'Roboto';
    font-weight: bold;

}

.pizza-list article section p {
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    max-width: 192px;
}

.pizza-list article img {
    height: 124px;
    height: 124px;
    position: absolute;
    left: 76px;
    z-index: 2;
}

.pizza-list article section {
    height: 340px;
    background-color: white;
    border-radius: 16px;
    width: 100%;
    margin-top: 62px;
}

.pizza-list footer {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0 15px;
}

.add-to-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    color: red;
    border: 1px red solid;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    cursor: pointer;
}



.order {
    background-color: white;
    height: 535px;
    padding: 24px 16px;
    width: 300px;
    margin-top: 62px;
    border-radius: 16px;
}

.order>div {
    margin: 24px 0;
}

.order header {
    width: 83px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2D2D2D;
    font-weight: bold;
}

.order-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    height: 48px;
    width: 268px;

}

.order>.line {
    background-color: #DFDFDF;
    height: 1px;
    clear: left;
}

.order-img {
    width: 48px;
    height: 48px;
}



.order-item>span {
    margin: auto 0;
    margin-right: 13px;
    color: red;
    transform: rotate(45deg);
    cursor: pointer;
}

.order-item>.order-title {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    margin: auto 0;
    margin-left: 8px;
    margin-right: 22px;
}

.order-item>.order-price {
    margin: auto 0;
    font-size: 16px;
    font-weight: 700;
}

.sub-price>div:nth-child(1) {
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 33px;
}

.sub-price>div:nth-child(2) {
    float: right;
    font-size: 11px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
}

.total-price>div:nth-child(1) {
    float: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;

}

.total-price>div:nth-child(2) {
    float: right;
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
}

.price-box {
    padding-bottom: 24px;
}

.sub-price,
.total-price {
    clear: left;
}

.order-button {
    padding-top: 24px;
    clear: left;
}

.order-button>button {
    background-color: #DA1315;
    color: white;
    width: 268px;
    height: 56px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    cursor: pointer;
}

.f1 {
    position: absolute;
    width: 230px;
    height: 250px;
    left: -5.93px;
    top: 144px;
    background: url(image/f1.png);
    transform: rotate(-5.9deg);
    z-index: -1;
}

.f2 {

    position: absolute;
    width: 300px;
    height: 300px;
    left: 1060px;
    top: 100px;
    background: url(image/f2.png);
    z-index: -1;

}

.f3 {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 1060px;

    top: 800px;
    background: url(image/f3.png);
    z-index: -1;
}

.f6 {
    position: absolute;
    width: 200px;
    height: 250px;
    left: -5.93px;
    top: 580px;
    background: url(image/f6.png);
    z-index: -1;
}